body {
    footer {
        display: flex;
        flex-direction: column;
        place-content: center;
        background: #3f3f3f;
        text-align: center;
        height: auto;
        color: #fff;
        padding: 15px;
    }
}